name: Server Build & Test

on:
  push:
    paths:
      - 'server/**'
      - 'protocol/**'
      - 'go.work'
      - '.github/workflows/server.yml'
  pull_request:
    paths:
      - 'server/**'
      - 'protocol/**'
    branches:
      - main
  workflow_dispatch:

jobs:
  go-build:
    name: Build with Go ${{ matrix.go_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version: ["1.21.x", "1.22.x"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go ${{ matrix.go_version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}

      - name: Install mage
        run: go install github.com/magefile/mage@latest

      - name: Get dependencies
        run: |
          go work sync
          cd server && go mod download

      - name: Set up infra services
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./server/docker-compose.ci.yml"

      - name: Build and start Server
        working-directory: server
        run: |
          mage build
          mage start
          mage check

  integration-test:
    name: Integration Test with SDK
    runs-on: ubuntu-latest
    env:
      CONFIG_PATH: server/config/notification.yml
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'

      - name: Install tools
        run: |
          go install github.com/magefile/mage@latest
          sudo wget https://github.com/mikefarah/yq/releases/download/v4.34.1/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq

      - name: Get dependencies
        run: |
          go work sync
          cd server && go mod download
          cd ../sdk-core && go mod download

      - name: Modify Server Configuration
        run: |
          yq e '.groupCreated.unreadCount = true' -i ${{ env.CONFIG_PATH }}
          yq e '.friendApplicationApproved.unreadCount = true' -i ${{ env.CONFIG_PATH }}
          yq e '.beforeOnlinePush.enable = false' -i server/config/webhooks.yml
          yq e '.beforeGroupOnlinePush.enable = false' -i server/config/webhooks.yml

      - name: Set up infra services
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./server/docker-compose.ci.yml"

      - name: Start Server
        working-directory: server
        run: |
          mage build
          mage start
          mage check

      - name: Run SDK Integration Tests
        working-directory: sdk-core
        run: |
          go mod tidy
          cd integration_test
          mkdir -p data
          go run main.go -lgr 0.8 -imf -crg -ckgn -ckcon -sem -ckmsn -u 20 -su 5 -lg 2 -cg 2 -cgm 3 -sm 10 -gm 10 -reg

  dockerfile-test:
    name: Dockerfile Build Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'

      - name: Build Docker Image
        working-directory: server
        run: |
          IMAGE_NAME="openim-server-test"
          docker build -t $IMAGE_NAME .

      - name: Run Container
        run: |
          docker run --name openim-server-container -d openim-server-test
          sleep 5
          docker logs openim-server-container

  codeql:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: go

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
